 /* @media(max-width: 720px){
    
    .react-logo{
        height:auto;
        width:30px
    }
    .main-nav{
        position:block;
        height:auto;
    }

    .work-and-stuff{
    position:block;
    padding:0;
    }

    .node-logo{
        height:auto;
        width:21px;
    }
    .modal{
        display:none
    }

    .first-ul{
        padding-top:0px;
        margin-top:0;
        margin-top: 15px;
    }

    .about{
        margin:30px;
    }

    .project-description{
        margin:30px;
    }

   

    .headshot{
        margin-top:10px;
        width:auto;
        height:200px;
        margin-bottom:10px;
        border-radius:50%
    

    }

    .headshot:hover{
        cursor:pointer;
    }

    .project-links{
        padding-top:2px;
    }

    .this-video{
        color:#1E162A;
    }

    .work{
        text-align:center;
    }

    .contact-form{
        padding:10px;
    }

    .form-style-4{
    //width: 450px;
    font-size: 16px;
    //background: #A093B2;
    padding: 30px 30px 15px 30px;
    //border: 5px solid #1E162A;
    margin:auto;
    margin-bottom:50px;
    }
} */